/*
colpick Color Picker / colpick.com
*/

/*Main container*/
.colpick {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	background:#ebebeb;
	border: 1px solid #bbb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
colpick:before,
.colpick:after {
    content: "";
    display: table;
} 
.colpick:after {
    clear: both;
}
.colpick {
    zoom: 1; 
}
/*Color selection box*/
.colpick_color {
	float:left;
	margin:2.0231%;
	margin-right:0;
	width: 45.0867%;
	border: 1px solid #8f8f8f;
	cursor: crosshair;
	overflow:hidden;
}
.colpick_color_overlay1 {
	float:left;
	width: 100%;
	height: 100%;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')"; /* IE8 */
	background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}
.colpick_color_overlay2 {
	float:left;
	width: 100%;
	height: 100%;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')"; /* IE8 */
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}
/*Circular color selector*/
.colpick_selector_outer {
	position:relative;
	width: 11px;
	height: 11px;
	margin: -6px 0 0 -6px;
	border: 1px solid black;
	border-radius: 50%;
}
.colpick_selector_inner{
	width:100%;
	height:100%;
	width: 9px;
	height: 9px;
	border: 1px solid white;
	border-radius: 50%;
}
/*Vertical hue bar*/
.colpick_hue {
	float:left;
	width: 5.4913%;
	margin: 2.0231% 2.8902%;
	border: 1px solid #8f8f8f;
	cursor: n-resize;
}
/*Hue bar sliding indicator*/
.colpick_hue_arrs {
	position:relative;
	margin-top:-36.8421%;
	width: 100%;
}
.colpick_hue_larr {
	margin-right:-36.8421%;
	float:right;
    width: 36.8421%;
    height: 0;
    padding-top: 36.8421%;
    padding-bottom: 36.8421%;
    overflow: hidden;
}
.colpick_hue_larr div {
    width: 0;
    height: 0;
    margin-top:-21px;
    
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-right: 21px solid #959595;
}
.colpick_hue_rarr {
	margin-left:-36.8421%;
	float:left;
    width: 0;
    height: 0;
    padding-top: 36.8421%;
    padding-bottom: 36.8421%;
    padding-left: 36.8421%;
    overflow: hidden;
}
.colpick_hue_rarr div {
    width: 0;
    height: 0;
    margin-top:-21px;
    margin-left: -21px;
    
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 21px solid #959595;
}

/*New and current color boxes*/
.colpick_new_color, .colpick_current_color {
	float:left;
	width: 17.3410%;
	height: 15.8824%;
	margin: 2.0231% 2.3121% 0 0;
	border: 1px solid #8f8f8f;
}
/*Input field containers*/
.colpick_field, .colpick_hex_field  {
	float:left;
	height: 11.7647%;
	width: 17.3410%;
	margin: 1.4451% 2.3121% 0 0;
	background:#f3f3f3;
	color:#b8b8b8;
	font-size:12px;
	border:1px solid #bdbdbd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.colpick_hex_field {
	width: 20.8092%;
}
/*Text field container on focus*/
.colpick_focus {
	border-color: #999;
}
/*Field label container*/
.colpick_field_letter {
	float:left;
	width: 25%;
	height:100%;
	background: #efefef;
	border-right: 1px solid #bdbdbd;
	line-height: 20px;
	font-weight: bold;
	text-align:center;
	color:#777;
}
/*Text inputs*/
.colpick_field input, .colpick_hex_field input {
	float:left;
	width:56.6666%;
	height: 100%;
	background: transparent;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #555;
	text-align: right;
	outline: none;
}
.colpick_hex_field input {
	margin-right: 5.8824%;
}
/*Field up/down arrows*/
.colpick_field_arrs {
	float:right;
	width: 12%;
	padding: 0 2% 0 1%;
	margin-top:8%;
	height: 100%;
	cursor: n-resize;
}
.colpick_field_uarr {
	float:left;
    width: 50%;
    height: 0;
    padding-left:50%;
    padding-bottom: 50%;
	margin-bottom:2px;
    overflow: hidden;
}
.colpick_field_uarr div {
    width: 0;
    height: 0;
    margin-left:-21px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 21px solid #959595;
}
.colpick_field_darr {
	float:left;
    width: 50%;
    height: 0;
    padding-left: 50%;
    padding-top: 50%;
    overflow: hidden;
}
.colpick_field_darr div {
    width: 0;
    height: 0;
    margin-left:-21px;
    margin-top:-21px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 21px solid #959595;
}
/*Submit/Select button*/
.colpick_submit {
	float:left;
	width: 37.5723%;
	height: 14.1026%;
	margin: 1.4451% 2.3121% 0 0;
	background: #efefef;
	text-align: center;
	color: #555;
	font-weight:bold;
	border: 1px solid #bdbdbd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.colpick_submit:hover {
	background:#f3f3f3;
	border-color:#999;
	cursor: pointer;
}

/*full layout with no submit button*/
.colpick_full_ns  .colpick_submit, .colpick_full_ns .colpick_current_color{
	display:none;
}
.colpick_full_ns .colpick_new_color {
	width: 37.5723%;
}

/*rgbhex layout*/
.colpick_rgbhex .colpick_hsb_h, .colpick_rgbhex .colpick_hsb_s, .colpick_rgbhex .colpick_hsb_b {
	display:none;
}
.colpick_rgbhex .colpick_field, .colpick_rgbhex .colpick_submit {
	width:24.1135%;
}
.colpick_rgbhex .colpick_new_color {
	width:12.0567%;
	border-right:none;
	margin-right:0;
}
.colpick_rgbhex .colpick_current_color {
	width:12.0567%;
	border-left:none;
}

/*rgbhex layout, no submit button*/
.colpick_rgbhex_ns  .colpick_submit, .colpick_rgbhex_ns .colpick_current_color{
	display:none;
}
.colpick_rgbhex_ns .colpick_new_color{
	width:24.1135%;
	border: 1px solid #8f8f8f;
}

/*hex layout*/
.colpick_hex .colpick_hsb_h, .colpick_hex .colpick_hsb_s, .colpick_hex .colpick_hsb_b, .colpick_hex .colpick_rgb_r, .colpick_hex .colpick_rgb_g, .colpick_hex .colpick_rgb_b {
	display:none;
}
.colpick_hex .colpick_hex_field {
	width:72px;
	height:25px;
	top:168px;
	left:80px;
}
.colpick_hex .colpick_hex_field div, .colpick_hex .colpick_hex_field input {
	height: 25px;
	line-height: 25px;
}
.colpick_hex .colpick_new_color {
	left:9px;
	top:168px;
	width:30px;
	border-right:none;
}
.colpick_hex .colpick_current_color {
	left:39px;
	top:168px;
	width:30px;
	border-left:none;
}
.colpick_hex .colpick_submit {
	left:164px;
	top: 168px;
	width:30px;
	height:25px;
	line-height: 25px;
}

/*hex layout, no submit button*/
.colpick_hex_ns  .colpick_submit, .colpick_hex_ns .colpick_current_color {
	display:none;
}
.colpick_hex_ns .colpick_hex_field {
	width:80px;
}
.colpick_hex_ns .colpick_new_color{
	width:60px;
	border: 1px solid #8f8f8f;
}

/*Dark color scheme*/
.colpick_dark {
	background: #161616;
	border-color: #2a2a2a;
}
.colpick_dark .colpick_color {
	outline-color: #333;
}
.colpick_dark .colpick_hue {
	border-color: #555;
}
.colpick_dark .colpick_field, .colpick_dark .colpick_hex_field {
	background: #101010;
	border-color: #2d2d2d;
}
.colpick_dark .colpick_field_letter {
	background: #131313;
	border-color: #2d2d2d;
	color: #696969;
}
.colpick_dark .colpick_field input, .colpick_dark .colpick_hex_field input {
	color: #7a7a7a;
}
.colpick_dark .colpick_field_uarr {
	border-bottom-color:#696969;
}
.colpick_dark .colpick_field_darr {
	border-top-color:#696969;
}
.colpick_dark .colpick_focus {
	border-color:#444;
}
.colpick_dark .colpick_submit {
	background: #131313;
	border-color:#2d2d2d;
	color:#7a7a7a;
}
.colpick_dark .colpick_submit:hover {
	background-color:#101010;
	border-color:#444;
}